//- Define variables custom to this instance

- var page_title       = 'Page Title';
- var site_name        = 'Project Name';
- var site_description = 'Short description of the project.';
- var proj_url         = 'http://github.nrel.gov/';
- var proj_name        = 'project_name';
- var tags             = [{name: 'Drupal 6', version: '6.x-1.0'}, {name: 'Drupal 7', version: '7.x-1.0'}];
