//- Content part of the index file

extends _layout

//- Add the content here
//- Use +header('section') for headers

append content

append dependencies

append installation

append usage

append resources

append troubleshooting

append releases
