body {
  font-size: 16px;
  background-color: white;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

/*@if $scale == golden {
  $h4_size: $base/$base;
  $h3_size: ($base * $h4_size * 1.62)/$base;
  $h2_size: ($base * $h3_size * 1.62)/$base;
  $h1_size: ($base * $h2_size * 1.62)/$base;
} */
h1 {
  font-size: 4.2358rem;
}

h2 {
  font-size: 2.61792rem;
}

h3 {
  font-size: 1.618rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.61805rem;
}

h6 {
  font-size: 0.61805rem;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.25em 0 0.5em 0;
}

h1 .icon, h2 .icon, h3 .icon, h4 .icon, h5 .icon, h6 .icon {
  padding-right: .5em;
  color: white;
}

.content-boundary {
  max-width: 1000px;
  padding: 2em 0;
}

header#site-header {
  padding: 2em 0;
  background-color: #0a4169;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a4169), color-stop(100%, #116caf));
  background-image: -webkit-linear-gradient(top, #0a4169, #116caf);
  background-image: -moz-linear-gradient(top, #0a4169, #116caf);
  background-image: -ms-linear-gradient(top, #0a4169, #116caf);
  background-image: -o-linear-gradient(top, #0a4169, #116caf);
  background-image: linear-gradient(top, #0a4169, #116caf);
  color: white;
}
header#site-header h1#title {
  margin-bottom: .25em;
}
header#site-header h2 {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: normal;
}
header#site-header .col {
  display: inline-block;
  vertical-align: top;
}
header#site-header .col1 {
  margin-right: -5px;
  width: 80%;
}
header#site-header .col2 {
  width: 20%;
  vertical-align: bottom;
  text-align: center;
}
header#site-header a.gh-link {
  color: white;
  line-height: 1.3em;
  border: 2px solid white;
  border-radius: .5em;
  padding: 1em 2em;
  display: inline-block;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  filter: dropshadow(color=rgba(0, 0, 0, 0.5), offx=1, offy=1);
  background-color: #90c33e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90c33e), color-stop(100%, #749d31));
  background-image: -webkit-linear-gradient(top, #90c33e, #749d31);
  background-image: -moz-linear-gradient(top, #90c33e, #749d31);
  background-image: -ms-linear-gradient(top, #90c33e, #749d31);
  background-image: -o-linear-gradient(top, #90c33e, #749d31);
  background-image: linear-gradient(top, #90c33e, #749d31);
  text-decoration: none;
}
header#site-header a.gh-link:hover {
  background-color: #90c33e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90c33e), color-stop(100%, #749d31));
  background-image: -webkit-linear-gradient(bottom, #90c33e, #749d31);
  background-image: -moz-linear-gradient(bottom, #90c33e, #749d31);
  background-image: -ms-linear-gradient(bottom, #90c33e, #749d31);
  background-image: -o-linear-gradient(bottom, #90c33e, #749d31);
  background-image: linear-gradient(bottom, #90c33e, #749d31);
}
header#site-header a.gh-link:active {
  box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.75);
}
header#site-header a.gh-link .bold {
  font-weight: bold;
  display: block;
}
header#site-header a.gh-link i.icon {
  font-size: 3em;
  display: inline-block;
  margin-right: .25em;
}
header#site-header a.gh-link span.text {
  display: inline-block;
}

article#main {
  color: #0a4169;
  line-height: 1.3em;
  background-color: rgba(164, 194, 207, 0.5);
}
article#main a {
  color: #749d31;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
article#main a:visited {
  color: #749d31;
}
article#main a:hover, article#main a:active {
  color: #90c33e;
}
article#main p, article#main ol, article#main ul {
  margin: 0 0 1em 0;
}
article#main ol, article#main ul {
  padding-left: 2em;
}
article#main ol li, article#main ul li {
  padding: 0.25em 0;
}
article#main ol li {
  list-style: decimal;
}
article#main ul li {
  list-style: circle;
}
article#main h3 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  filter: dropshadow(color=rgba(0, 0, 0, 0.3), offx=1, offy=1);
}
article#main .col {
  display: inline-block;
  vertical-align: top;
}
article#main #content {
  width: 62%;
  margin-right: -5px;
}
article#main #content section {
  margin-bottom: 3em;
}
article#main #releases {
  width: 38%;
}
article#main #releases .inner {
  padding-left: 2em;
}
article#main #releases a.release {
  color: white;
  line-height: 1.3em;
  border: 2px solid white;
  border-radius: .5em;
  padding: 1em 2em;
  display: inline-block;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  filter: dropshadow(color=rgba(0, 0, 0, 0.5), offx=1, offy=1);
  background-color: #90c33e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90c33e), color-stop(100%, #749d31));
  background-image: -webkit-linear-gradient(top, #90c33e, #749d31);
  background-image: -moz-linear-gradient(top, #90c33e, #749d31);
  background-image: -ms-linear-gradient(top, #90c33e, #749d31);
  background-image: -o-linear-gradient(top, #90c33e, #749d31);
  background-image: linear-gradient(top, #90c33e, #749d31);
  text-decoration: none;
  display: block;
  line-height: 1.4em;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  margin: 0 0 2em 0;
}
article#main #releases a.release:hover {
  background-color: #90c33e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90c33e), color-stop(100%, #749d31));
  background-image: -webkit-linear-gradient(bottom, #90c33e, #749d31);
  background-image: -moz-linear-gradient(bottom, #90c33e, #749d31);
  background-image: -ms-linear-gradient(bottom, #90c33e, #749d31);
  background-image: -o-linear-gradient(bottom, #90c33e, #749d31);
  background-image: linear-gradient(bottom, #90c33e, #749d31);
}
article#main #releases a.release:active {
  box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.75);
}
article#main #releases a.release .bold {
  font-weight: bold;
  display: block;
}
article#main #releases a.release i.icon {
  font-size: 3em;
  display: inline-block;
  margin-right: .5em;
  vertical-align: middle;
}
article#main #releases a.release span.text {
  vertical-align: middle;
  display: inline-block;
}
article#main #releases a.release h3.download {
  margin-bottom: .25em;
}

footer#site-footer {
  font-size: 0.85em;
  line-height: 1.4em;
  color: #999;
}
footer#site-footer a {
  color: #0a4169;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
footer#site-footer a:visited {
  color: #0a4169;
}
footer#site-footer a:hover, footer#site-footer a:active {
  color: #749d31;
}
footer#site-footer .col {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}
footer#site-footer .col1, footer#site-footer col2 {
  margin-right: -5px;
}
footer#site-footer .col1 {
  text-align: left;
}
footer#site-footer .col2 {
  text-align: center;
}
footer#site-footer .col3 {
  text-align: right;
}

ul.menu li {
  display: inline-block;
  margin-right: -4px;
}
ul.menu li a {
  padding: 0 1em;
  border-right: 1px solid #cccccc;
}
ul.menu li:last-child a {
  padding-right: 0;
  border-right: none;
}
