@import 'base';

body {
  font-size: 16px;
  background-color: white;
  font-family: $sans-serif;
}

@include headers(1rem, golden);

h1, h2, h3, h4, h5, h6 {
  .icon {
    padding-right: .5em;
    color: white;
  }
}

.content-boundary {
  max-width: 1000px;
  padding: 2em 0;
}

header#site-header {
  padding: 2em 0;
  @include linear-gradient(top, $dark-blue, $light-blue);
  color: white;

  h1#title {
    margin-bottom: .25em;
  }

  h2 {
    font-family: $serif;
    font-weight: normal;
  }

  .col {
    display: inline-block;
    vertical-align: top;
  }

  .col1 {
    margin-right: -5px;
    width: 80%;
  }
  .col2 {
    width: 20%;
    vertical-align: bottom;
    text-align: center;
  }

  a.gh-link {
    @include big-button(link);

    i.icon {
      font-size: 3em;
      display: inline-block;
      margin-right: .25em;
    }
    span.text {
      display: inline-block;
    }
  }
}

article#main {
  color: $dark-blue;
  line-height: 1.3em;
  background-color: rgba(164, 194, 207, .5);

  a {
    color: $dark-green;
    text-decoration: none;
    @include transition(color 0.5s);

    &:visited {color: $dark-green;}
    &:hover, &:active {color: $light-green;}
  }

  p, ol, ul {
    margin: 0 0 1em 0;
  }

  ol, ul {
    padding-left: 2em;

    li {
      padding: .25em 0;
    }
  }

  ol li {list-style: decimal;}
  ul li {list-style: circle;}

  h3 {
    @include text-shadow(1,1,1,rgba(0,0,0,0.3));
  }

  .col {
    display: inline-block;
    vertical-align: top;
  }

  #content {
    width: 62%;
    margin-right: -5px;

    section {
      margin-bottom: 3em;
    }
  }

  #releases {
    width: 38%;

    .inner {
      padding-left: 2em;
    }

    a.release {
      @include big-button(link);
      display: block;
      line-height: 1.4em;
      box-shadow: 0 0 5px 1px rgba(0,0,0,.5);
      margin: 0 0 2em 0;

      i.icon {
        font-size: 3em;
        display: inline-block;
        margin-right: .5em;
        vertical-align: middle;
      }
      span.text {
        vertical-align: middle;
        display: inline-block;
      }

      h3.download {
        margin-bottom: .25em;
      }
    }
  }
}

footer#site-footer {
  font-size: 0.85em;
  line-height: 1.4em;
  color: #999;

  a {
    color: $dark-blue;
    text-decoration: none;
    @include transition(color 0.5s);

    &:visited {color: $dark-blue;}
    &:hover, &:active {color: $dark-green;}
  }

  .col {
    display: inline-block;
    width: 33%;
    vertical-align: top;
  }

  .col1, col2 {
    margin-right: -5px;
  }

  .col1 {text-align: left;}
  .col2 {text-align: center;}
  .col3 {text-align: right;}
}

ul.menu {
  li {
    display: inline-block;
    margin-right: -4px;

    a {
      padding: 0 1em;
      border-right: 1px solid #ccc;
    }

    &:last-child a {
      padding-right: 0;
      border-right: none;
    }
  }
}
